---
- name: install haproxy and socat
  apt: name="{{ item }}" state="present"
  with_items:
    - haproxy
    - socat

- name: configure haproxy with
  template: src="haproxy.cfg.j2" dest="/etc/haproxy.cfg"

#- name: enable haproxy service
#  action: service name=haproxy enabled=yes
#  notify: restart haproxy

- name: Sets default starting flag to 1
  lineinfile: dest=/etc/default/haproxy regexp="^ENABLED" line="ENABLED=1"
  notify: restart haproxy
